body {
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tab-body{
  margin: 30px;
  min-height: 55vh;
}


.holder {
  background-color: rgb(255, 255, 255);
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,.1);
}


.text {
  padding: 40px;
    -webkit-text-stroke:2.5px rgb(255, 255, 255);
    font-size: 3vw;
    letter-spacing: 0.3vw;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.title-holder {
  background-color: #0f7bff;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #0f62c8;
  text-align: center;
}

.sub-title {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 20px;
}

.info-area {
  padding-top: 30px;

}

.footer {
  clear: both;
  position: relative;
  height: 30px;
  margin-top: 0;
  color: #b1b1b1;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,.1);
}

a {
  color: #b1b1b1;
}

button {
  border-radius: 5px;
  padding: 5px;
  min-width: 80px;
  background-color: rgb(255, 255, 255);
  color: #9d9d9d;
  border-color: #b1b1b1;
  font-weight: 500;
  border-style: solid;
  margin-left: 15px;
  cursor: pointer;
}

input {
  padding: 5px;
  border-radius: 5px;
  border-width: 0px;
  margin-left: 5px;
  border-color: #b1b1b1;
  border-width: 2px;
  border-style: solid;
  background-color: #f4f4f4;
}

.prompt-title {
  padding: 5px;
  padding-left: 0px;
}

.translated-word {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
}

.info-dup {
  padding-top: 10px;
  padding-bottom: 20px;
  font-style: italic;
}

.results {
  padding-top: 20px;
}